.LeftMenu {
  // margin-top: 140px;
  //margin-left: 10px;
  display: flex;
  flex-direction: column;
  button {
    width: 35px;
    height: 35px;
    margin-bottom: 4px;
    background-color: #f0f0f0d9;
    border: none;
    text-align: left;
    &:hover {
      background-color: white;
      cursor:pointer;
    }
  }
  // .leftTooltipBackgroundTheme{
  //     background: rgb(243, 204, 132) !important;
  //     opacity: 0.6;
  //     color: black;
  //     margin-left:50px;
  //     margin-top:50px;

  // }
}
