.BottomPanel {
  height: 20px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  .MouseCoordinates {
    margin-right: 10px;
    .MouseX {
      margin-right: 5px;
    }
  }
}
@media not screen  and (min-width: 1024px){
  .BottomPanel {
    display: none!important;

    .MouseCoordinates {
        display: none!important;
      // visibility: hidden;
    }
  }
 
}
