.Address {
  form {
    .Fieldset {
      width: 500px;
      .InputLabel-Block {
        display: flex;
        justify-content: flex-start;
        // padding-left:5px;
        .Label {
          width: 30%;
          div {
            margin-bottom: 4.5px;
            span {
              color: red;
            }
          }
        }
        .InputGroup {
          width: 70%;

          display: block;
          margin: 0 auto;
          .Input {
            // width: 60%;

            margin-bottom: 2px;

            input {
              // width:45%;
              width: 50%;
            }
            select {
              // width:46.5%;
              width: 51.3%;

              // width:173px;
              // -moz-appearance: none;
              // width: -moz-min-content;
            }
          }
        }
      }
      .InputBlock-Hide {
        padding-left: 10px;
      }
      .CopyBlock {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
