.Payment{
    .RadioButton{
        padding-bottom:10px;
        border-bottom: 1px solid #000;
    }
    .Text{
        // padding-bottom:5px;
        border-bottom: 1px solid #000;
    }
    .InputOrder{
        padding:10px;
    }
}