.ToolsPanel {
  display: flex;
  justify-content: space-between;
  width: 99vw;

  .Left-Tools {
    display: flex;
    flex-direction: row;
    .SelectMode {
      display: block;
      margin-left: 2px;
    }
    input {
      width: 80px;
    }
  }
  .Center-Tools {
    display: flex;
    flex-direction: row;

    .select {
      display: block;
      margin-left: 2px;
    }
  }

  .Right-Tools {
    display: flex;
    flex-direction: row;
    margin-right: 5px;

    input {
      width: 80px;
    }
  }
}