.ToolsPanel {
  display: flex;
  // flex-direction: row;
  // width:100vw;
  // justify-content: space-between;
  form {
    display: flex;
    // flex-direction: row;
  justify-content: space-between;
  width:99vw;

    .Left-Tools{
      display: flex;
    flex-direction: row;
      .select-1 {
        display: block;
        margin-left: 2px;
      }
      input{
        width: 80px;
      }
    }
    .Center-Tools{
      display: flex;
    flex-direction: row;
   
      .select {
        display: block;
        margin-left: 2px;
      }
    }
  
  .Right-Tools{
    display: flex;
    flex-direction: row;
  margin-right:5px;
    input {
      width: 80px;
    }
  }


  //  }
  //  .tooltip-Z{
  //   background: rgb(248, 199, 108) !important;
  //   color: black;
  //   margin-left: 50px;
  //   margin-top: -10px;
  //  }
    // .tooltipBackgroundTheme {
    //   background: rgb(248, 199, 108) !important;
    //   color: black;
    //   margin-left: 0px!important;
    //   margin-top: -10px;
    // }
  }
}
