.PriceContent {
  .Quantity,
  .MachiningGrid,
  .ShipVia,
  .Shipping,
  .Tax,
  .Checkbox,
  .Total {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    .LabelQuantity,
    .LabelMachining,
    .LabelShipVia,
    .LabelShipping,
    .LabelTax,
    .LabelCheckbox,
    .LabelTotal {
      color: #000;
      font-size: bold;
      width: 100px;
      text-align: right;
      margin-right: 10px;
    }
    .Grid {
      width: 80%;
    }
    span {
      margin-left: 10px;
      font-size: bold;
    }
    .LabelTotal {
      font-size: 20px;
      margin-top:13.5px;
    }
    .TotalRightPart {
      display: flex;
      justify-content: space-between;
      width: 100%;
    //   padding-top: 4px;
    .TotalResult{
        margin-top:17.5px;

    }  

    }

  }
  .Note{
      margin-top:20px;
      padding:5px;
        border:0.5px solid #000;
        box-shadow: -0.5px -0.5px 0.5px #000;
    p{
        text-align: left;
    }
}
  //   .MachiningGrid{
  //     display: flex;
  //     justify-content: flex-start;
  //     padding-top: 10px;
  //       .LabelMachining{
  //         width: 100px;
  //         text-align: right;
  //         margin-right: 10px;
  //       }
  //       .Grid{
  //         width:80%;
  //       }
  //   }
}
